<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="UserName" value="test-FancyTees"/>
      <add key="Password" value="e8a9e408358249a38c62f1e45f90f7d0"/>
      <add key="Secret" value="3b2339e75649442297d5176321a52672"/>
      <!--Include 'EU' for European Customers, and 'US' for US Customer-->
      <add key="BaseURL" value="https://app-qa-2.trustev.com/api/v2.0"/>
      <!--If an alternate url is specified use that one instead-->
      <add key="AltUrl" value="https://app-qa-2.trustev.com/api/v2.0"/>
  </appSettings>
</configuration>