<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="UserName" value="DANIEL"/>
      <add key="Password" value="4628aa2f6dc7495ab439e9bd3ad59b3a"/>
      <add key="Secret" value="e18e2d6cb7224b3580273083b11ad131"/>
      <!--Include 'EU' for European Customers, and 'US' for US Customer-->
      <add key="BaseURL" value=""/>
      <!--If an alternate url is specified use that one instead-->
      <add key="AltUrl" value="https://app-qa.trustev.com/api/v2.0"/>
  </appSettings>
</configuration>