<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserName" value="FancyTees"/>
    <add key="Password" value="58dcca6b98a24e5a80b2a3682190da1a"/>
    <add key="Secret" value="48357fbb820c407f855d72893d3f47ed"/>
    <add key="PublicKey" value="0e5d504d4126475bac2c597dd72ea98b"/>
    <!--Include 'EU' for European Customers, and 'US' for US Customer-->
    <add key="BaseURL" value=""/>
    <!--If an alternate url is specified use that one instead-->
    <add key="AltUrl" value="https://app-qa-2.trustev.com/api/v2.0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
